h1 {
    text-align: center;
    color: aquamarine;
    background-color:coral;
    width: 100%;
    padding: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    }
.input-group {
    margin-bottom: 15px;
    }
.header-style {
    font-size: 50px;
    color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    text-align: center;
    }
.card {
    width:100%;
    }  
.fiveDay{    
    background-color: aquamarine;
    margin: 15px;
    }

.week-boxes {
    display:block ;
    flex-wrap:wrap;
    justify-content: space-evenly;
    flex-direction: row;
}    
#box1, #box2, #box3, #box4, #box5 {
    display:block ;
    flex-wrap:wrap;
    justify-content: space-evenly;
    width: 200px;
    height: 200px;
    border: 5px solid coral;
    padding: 50px;
    margin: 20px;
}
h3 {
    float:left;
    }